<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button> 
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa tu correo electrónico</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Correo Electrónico" labelPlacement="floating" type="email"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="enviarSolicitud()">Enviar Solicitud</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
