<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Equipamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading [isOpen]="loading"></ion-loading>

  <ion-list *ngIf="equipment.length">
    <ion-item *ngFor="let item of equipment">
      <ion-thumbnail slot="start">
        <img [src]="item.image" alt="{{ item.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="equipment.length === 0">
    <ion-label>No hay equipamiento disponible.</ion-label>
  </ion-item>
</ion-content>
