<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Armas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Armas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="weapons-container">
    <h1>Lista de Armas</h1>
    
    <ion-card>
      <img alt="Espada Maestra" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/35271885-b64b-49da-b43d-e9aa8fa4d471/dfvujxm-9a9f7fec-2c47-4ef5-b334-c111ff7deca0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM1MjcxODg1LWI2NGItNDlkYS1iNDNkLWU5YWE4ZmE0ZDQ3MVwvZGZ2dWp4bS05YTlmN2ZlYy0yYzQ3LTRlZjUtYjMzNC1jMTExZmY3ZGVjYTAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.XCqg-uESWTSoiFhA09BOMo8s8XuL_5PUZxKl_zBCKDM" />
      <ion-card-header>
        <ion-card-title>Espada maestra</ion-card-title>
        <ion-card-subtitle>Espada legendaria del reino de Hyrule y arma recurrente en la saga de The Legend of Zelda. Está dotada con el poder de repeler el mal.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Lanza de la escama de Mipha" src="https://i.etsystatic.com/21917417/r/il/eafad8/2978973202/il_fullxfull.2978973202_n4pf.jpg" />
      <ion-card-header>
        <ion-card-title>Lanza de la escama de Mipha</ion-card-title>
        <ion-card-subtitle>Se trata de la lanza que portaba Mipha antes de morir durante el Cataclismo. Link obtiene el tridente de escamas a manos del Rey Dorphan tras liberar a la Bestia Divina Vah Ruta.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Arco del águila de Revali" src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/the-legend-of-zelda-breath-of-the-wild-2/d/db/Great_Eagle_Bow.jpg?width=640" />
      <ion-card-header>
        <ion-card-title>Arco del águila de Revali</ion-card-title>
        <ion-card-subtitle>Arco único que utilizaba Revali, el elegido orni. Se dice que disparaba a velocidad de vértigo, y que no tenía rival en combates aéreos.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Machacarrocas de Daruk" src="https://cdn.kiranico.net/file/kiranico/zelda/webp/Icon/Weapon_Lsword_054.webp" />
      <ion-card-header>
        <ion-card-title>Machacarrocas de Daruk</ion-card-title>
        <ion-card-subtitle>Fue el arma que empuñaba Daruk en vida, conservada en ciudad Goron como una reliquia.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Cimitarra de la ira de Urbosa" src="https://www.gamertw.com/totk/weapon/Weapon_Sword_052.png" />
      <ion-card-header>
        <ion-card-title>Cimitarra de la ira de Urbosa</ion-card-title>
        <ion-card-subtitle>Fue el arma que empuñó Urbosa en vida, actualmente conservada en la ciudadela Gerudo como una reliquia, junto con el escudo de la ira.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
