<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Monstruos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading *ngIf="loading" message="Cargando..."></ion-loading>

  <ion-list>
    <ion-item *ngFor="let boss of bosses">
      <ion-thumbnail slot="start">
        <img [src]="boss.image" *ngIf="boss.image" alt="{{ boss.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ boss.name }}</h2>
        <p>{{ boss.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
