<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jefes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jefes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="bosses-container">
    <h1>Lista de Jefes</h1>

    <ion-card>
      <img alt="Reina Gibdo" src="https://i.blogs.es/5d91c1/zelda-totk-combate-reina-gibdo-portada/1366_2000.jpeg" />
      <ion-card-header>
        <ion-card-title>Reina Gibdo</ion-card-title>
        <ion-card-subtitle>La Reina Gibdo tiene la forma de una polilla gigante, siendo muy superior en tamaño a cualquier otro Gibdo visto en el juego. Posee seis extremidades, una piel dura de color café, dos alas enormes con relieves de diseños circulares y dos antenas de colores entre rosado y granate.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Gelminus" src="https://www.egames.news/__export/1685653348365/sites/debate/img/2023/06/01/zelda-tears-of-the-kingdom-gelminus-1.jpg_554688468.jpg" />
      <ion-card-header>
        <ion-card-title>Gelminus</ion-card-title>
        <ion-card-subtitle>Gelminus es un monstruo gigante con forma de un gran insecto. Cuenta con una gran capa de hielo que lo protege, hecha de varias partes afiladas que puede soltar y lanzar por los aires.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Ilvagia" src="https://media.vandal.net/m/6-2023/20236813103913_1.jpg.webp" />
      <ion-card-header>
        <ion-card-title>Ilvagia</ion-card-title>
        <ion-card-subtitle>Ilvagia es un monstruo gigante de tres cabezas que fue creado por Ganondorf para bloquear el paso al subsuelo desde la Montaña de la Muerte. Está formado de rocas y tiene una gran envergadura, suficiente como para taponar completamente el cráter que custodia. Tiene 3 cabezas con las cuales dispara rocas a gran temperatura, cabezas que además son sus puntos débiles.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>


  </div>
</ion-content>
